<p class="all-posts"><a routerLink="/home"> All Posts</a></p>
<div id="full-article">

    <div class="post-details">
        <div class="post-detail-items ">
            <p> Admin </p>
            <p>Mar 21 <i class="fa-solid fa-circle"></i> 1 min</p>
        </div>
        <div class="post-detail-items">
            <a href=""> <i class="fa-solid fa-ellipsis-vertical"></i></a>
        </div>
    </div>
    <div class="article">
        <p class="full-title"></p>
        <span class="preview"></span>
        <img src="" alt="">
        <div class="full-text"></div>
        <div class="social-media-links"></div>
        <div class="social-interactions"></div>
    </div>
    <div class="recent-posts">
        <div>
            <p>recent posts</p>
            <p><a routerLink="/home">see all</a></p>
        </div>

        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="add-comments">
        <label>comments</label>
        <input type="text" name="comments" id="comments">
        <div><button>cancel</button></div>
        <div><button>publish</button></div>
    </div>

</div>