<div class="sign-in-box">

    <div id="background">
        <!-- img -->
    </div>
    <h2>Login</h2>

    <div class="content">

        <form id="form-login" method="post">
            <div class="form-element form-stack">
                <label for="username-login" class="form-label">Email</label>
                <input class="sign-in" id="username-login" type="email" name="email" required>
            </div>
            <div class="form-element form-stack">
                <label for="password-login" class="form-label">Password</label>
                <input class="sign-in" id="password-login" type="password" name="password" required>
            </div>
            <div class="form-element form-submit">
                <button id="logIn" class="sign-in" type="submit" name="login">Log In</button>

            </div>
        </form>
    </div>

</div>